*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}
header{
    background: url(assets/imagens/london.jpg);
    height: 800px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: center;
    position: relative;
}

.navbar{
    background-color: white;
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    width: 100%;
    color: orangered;
    font-size: 22px;
}
.search{
    color: grey;
}

.travel{
    background-color: white;
    width: 80%;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.travel-options{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.icon-travel{
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
}

.icon-travel:hover{
    background-color: orangered;
}
.travel-form{
    height: 290px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 8% 25%;
    grid-template-areas: 
    "tituloTravel tituloTravel"
    "form1 form2"
    "formBotton formBotton";
    row-gap: 5%;
    padding: 15px;
   
}
.tituloTravel{
    grid-area: tituloTravel;
    font-weight: bold;
}

.form1{
    grid-area: form1;
    
}
.form2{
    grid-area: form2;
    
}
.travel-form input{
    margin: 3px;
    padding: 5px;
    font-size: 15px;
    width: 98%;
}
.formBotton{
    grid-area: formBotton;
}
.formBotton button{
    color: white;
    width: 20%;
    background-color: grey;
    padding: 3px;
    min-width: 150px;
    height: 35px;

}
main{
    background-color: rgb(215, 219, 223);
    padding-left: 60px;
    padding-right: 60px;
}
.galeria{
    margin-top: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "foto1 foto1 foto2 foto3"
    "foto1 foto1 foto4 foto5";
    gap: 15px;
}
.preGaleria{
    padding-top: 35px;
}
.tituloGod{
    grid-area: tituloGod;
    font-weight: bold;
}
.descricaoGod{
    padding-top: 25px;
    grid-area: descricaoGod;
}
.foto1{
    background-image: url(assets/imagens/cinqueterre.jpg);
    grid-area: foto1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.foto1 p{
    position: absolute; 
    bottom: 0; 
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; 
}
.foto2{
    grid-area: foto2;
    background-image: url(assets/imagens/newyork.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.foto2 p{
    position: absolute; 
    bottom: 0; 
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; 
}
.foto3{
    grid-area: foto3;
    background-image: url(assets/imagens/sanfran.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.foto3 p{
    position: absolute; 
    bottom: 0; 
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; 
}
.foto4{
    grid-area: foto4;
    background-image: url(assets/imagens/pisa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.foto4 p{
    position: absolute; 
    bottom: 0; 
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; 
}
.foto5{
    grid-area: foto5;
    background-image: url(assets/imagens/paris.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.foto5 p{
    position: absolute; 
    bottom: 0; 
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; 
}

.galeriaNat{
    padding-top: 50px;
    color: black;
}

.tituloNat{
    margin-bottom: 15px;
}
.descricaoNat{
    margin-bottom: 15px;
}
.displayNat{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr;        grid-template-areas: 
        "card1 card2";
    gap: 15px;
}
.card1{
    grid-area: card1;
    background-color: white;
}
.card2{
    grid-area: card2;
    background-color: white;

}
.card1 img{
    width: 100%;
    height: 220px;    
}
.card2 img{
    width: 100%;
    height: 220px;
}
.descImg{
    height: 200px;
    padding: 10px;
    display: grid;
    gap: 15px;
}
.quest{
    padding: 15px;
    margin-top: 30px;
    background-color: grey;
    display: grid;
    gap: 20px;
    color: white;
}
.quest input{
    padding: 5px;
    font-size: 15px;
    width: 98%;
}
.quest button {
    width: 100px;
    height: 35px;
    color: white;
    background-color:salmon;
}
.divContact{
    margin-top: 30PX;
    display: grid;
    gap: 15px;
}
.local{
    display: flex;
}
.iconsContact{
    margin-right: 15px;
}
.divContact input{
    padding: 10px;
    font-size: 15px;
    width: 98%;
}
.divContact button{
    background-color: black;
    width: 150px;
    height: 35px;
    color: white;
}
.footer{
    margin-top: 45px;
    text-align: center;
    display: grid;
    gap: 20px;
    padding-bottom: 45px;
}
.iconsFooter{
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
}
.iconsFooter p{
    margin: 5px;
}


@media (max-width: 770px) {
    .navbar .logo{
        margin-left: 150px;
    }
    .navbar .search{
        margin-right: 150px;
    }
    header{
        background: url(assets/imagens/london.jpg);
        height: 500px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100% 500px;
        background-position: center;
        position: relative;
    }
    .travel{
        background-color: white;
        width: 70%;
        height: 290px;

    }
    .travel-form{
        padding-top: 28px;
        height: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 80%;
        grid-template-areas: 
        "tituloTravel tituloTravel"
        "form1 form2" 
        "formBotton";
        row-gap: 3px;
        column-gap: 10px;
               
    }
    .form1 input{
        padding: 8px;
    }
    .form2 input{
        padding: 8px;
    }
    .tituloTravel{
        font-size: 25px;
    }
    .formBotton button{
        margin-top: 20px;
        font-size: 18px;
        width: 220px;
    }
    .preGaleria{

    }
    .galeria{
        height: 230px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "foto1 foto1 foto2 foto3"
        "foto1 foto1 foto4 foto5";
        gap: 15px;
    }
    .card1 img{
        width: 100%;
        height: 160px;    
    }
    .card2 img{
        width: 100%;
        height: 160px;
    }
    .descImg{
        height: 190px;
        padding: 10px;
        display: grid;
        gap: 15px;
    }
}

@media (max-width: 452px) {
    .navbar .logo{
        margin-left: 5px;
    }
    .navbar .search{
        margin-right: 5px;
    }
    header {
        object-fit: cover;
        background-image: none;
        height: 350px;
        width: 100%;
    }
    .travel{
        width: 100%;
        height: 300px;
        position: absolute;
        top: 190px;
        transform: translate(-50%, -50%);
    }
    .travel-form{
        height: 310px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 18% 25%;
        grid-template-areas: 
        "tituloTravel"
        "form1" 
        "form2"
        "formBotton";
        row-gap: 3px;
        background-color: white;
               
    }
    .galeria{
        padding-top: 60px;
        width: 100%;
    }
    .formBotton button{
        margin-top: 0px;
        font-size: 15px;
        width: 180px;
    }
    main{
        padding-left: 15px;
        padding-right: 15px;
    }
    .preGaleria{
        padding-top: 80px;
    }
    .galeria {
        padding-top: 15px;
        height: 1350px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,19%);
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5";
            gap: 18px;
    }
    .displayNat{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "card1"
            "card2";
        gap: 15px;
    }
}

@media (max-width: 370px) {
    .navbar .logo{
        margin-left: 5px;
    }
    .navbar .search{
        margin-right: 5px;
    }
    header {
        object-fit: cover;
        background-image: none;
        height: 350px;
        width: 100%;
    }
    .travel{
        width: 100%;
        height: 300px;
        position: absolute;
        top: 190px;
        transform: translate(-50%, -50%);
    }
    .travel-form{
        height: 310px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 18% 25%;
        grid-template-areas: 
        "tituloTravel"
        "form1" 
        "form2"
        "formBotton";
        row-gap: 3px;
        background-color: white;
               
    }
    .galeria{
        padding-top: 60px;
        width: 100%;
    }
    .formBotton button{
        margin-top: 0px;
        font-size: 15px;
        width: 180px;
    }
    main{
        padding-left: 15px;
        padding-right: 15px;
    }
    .preGaleria{
        padding-top: 80px;
    }
    .galeria {
        padding-top: 15px;
        height: 1350px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,19%);
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5";
            gap: 18px;
    }
    .displayNat{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "card1"
            "card2";
        gap: 15px;
    }
}

